
body{
    background-color: #030028;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #190564;
    color: white;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    justify-items: center;
    align-items: center;
    display: flex;
}

#logo{
    margin-left: 10px;
    height: 150px;
    width: auto;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.abas{
    position: absolute;
    right: 25px;
}

.registrar{
    background-color: #FF5200;
    border-radius: 10px;
    padding: 8px;
}

#user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder color */
    background-image: url('../Imagens/logo.png'); /* Imagem de avatar */
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#logout-button {
    background-color: #FF5200;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #e04600;
}





