body{
    background-color: #030028;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #190564;
    color: white;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    justify-items: center;
    align-items: center;
    display: flex;
}

#logo{
    margin-left: 10px;
    height: 150px;
    width: auto;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.abas{
    position: absolute;
    right: 25px;
}

.registrar{
    background-color: #FF5200;
    border-radius: 10px;
    padding: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 60px 20px; /* Para evitar sobreposição com o header */
    color:white
}

.content {
    margin: 0 auto;
    max-width: 1200px;
}

#carregando {
    display: none;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
#cabecalhoDaAcao {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #190564; 
    color: white; 
    border: 2px solid #FF5200; 
    border-radius: 25px; 
    padding: 15px 20px;
    font-family: Arial, sans-serif; 
    margin-top: 25px;
}

#stock-name {
    font-size: 30px; 
    font-weight: bold;
    text-align: center; 
    margin-bottom: 10px; 
    border-bottom: 2px solid #FF5200;
    margin-top: 5px;
}

#linha-inferior {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    font-size: 18px;
}

#precoEVariacao{
    display: flex; 
    align-items: center;

}

#stock-symbol {
    color: white;
    font-weight: bold;
}

#stock-change {
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;    
}

#stock-price {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

#stock-change, #stock-price{
    background-color: #030028;
    padding: 15px;
    border-radius: 25px;
}

#informacoesCentrais{
    margin-top: 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

#lucroPorAcao, #indicePrecoLucro, #volume{
    background-color: #190564;
    border: 2px solid #FF5200; 
    border-radius: 25px;
    margin: 5px;
    color: white;
    text-align: center;
    padding: 25px;
    width: 225px;
}

#informacoesCentrais {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

#grafico{
    align-items: center; 
    color:aqua;
    margin: 5px;
    border:2px solid white;
    padding: 100px;
    padding-inline: 25%;
}

#informacoesLaterais {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 10px;
}

#informacoesInferiores {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 10px; 
    margin-left: 10px; 
}

#linhaSuperior, #linhaInferior {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    height: 100px; 
}

#abertura, #fechamento, #variacao,
#maximoDia, #minimoDia, #media {
    background-color: #190564;
    border: 2px solid #FF5200;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 25px;
    width: 300px;
    
}

